$color-green:#84c125;
$color-bg:#b5ffd221;
$color-shadow: #446f01;
$color-input-bg:#e0ffe3;
$color-input-boder:#b0d6b0;
$color-purple: purple;
$color-darkgreen:#1B5E20;
$color-orange: orange;
$color-blue:#360396;
$color-dash:#a7a7a7;
$color-white: white;
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3:30px;
$pd-4:4%;
$pd-5:7%;

$mg-1:10px;
$mg-2:20px;
$mg-3:30px;
$mg-4:40px;
$mg-5:50px;
$mg-6:200px;

$fs-1:1rem;
$fs-2:1.5rem;
$fs-3:2rem;
$fs-4:2.5rem;

$fw-bold:bold;
$fw-normal:normal;