.clear{
    clear: float;
}
.main_container{
    .left__admin{
        background: #2A3F54;
        .scroll_view{
            .nav_title{
                a{   
                    i{
                        font-size: 2rem;
                    }
                    span{
                        font-size: 1.5rem;
                        letter-spacing: 1px;
                        text-shadow: 3px -3px 3px;
                        padding: 1rem 1rem;
                    }
                }
            }
            .profile{
                .profile_img{
                    width: 30%;
                    height: 95px;
                    float: left;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0px 0px 10px 0px $color-white;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .profile_info{
                    width: 70%;
                    padding: 2rem 2rem;
                    float: left;
                }
            }
            #sidebar-menu{
                .menu_section{
                    ul.side-menu{
                        li{
                            width:100%;
                            position: relative;
                            a{
                                color: #E7E7E7; 
                                font-weight: 500; 
                                font-size: 1.2rem;
                                display: block;
                                
                                i{
                                    font-size: 1.5rem;
                                    margin: 10px 10px 10px 0px;
                                }
                                span{
                                    float:right;
                                    margin: 15px 10px 10px 0px;
                                    // color: #ffffff61;
                                    font-size: .8rem;
                                }
                            }
                            ul.child_menu{
                                display: none!important;
                                li{
                                    padding-left: 37px;
                                }
                            }
                        }
                        li.hover:hover>a {
                                text-shadow: rgba(0,0,0,.25) 0 -1px 0; 
                                background: linear-gradient(#334556,#2C4257),#2A3F54;
                                box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
                                
                        }
                        li:hover{
                            position: relative;
                            ul.child_menu{
                                li a{
                                    padding: .5rem 0;
                                    font-size: 1rem;
                                }
                                li:hover{
                                    a{
                                        background-color: rgba(255,255,255,.06);
                                        color: green!important;
                                    }
                                }
                            }
                            .child_menu{
                                display: block!important;
                                li:after{
                                    border-left: 1px solid #425668;
                                    bottom: 0;
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 1rem;
                                }
                                li:before{
                                    background: #425668;
                                    bottom: auto;
                                    content: "";
                                    height: 8px;
                                    left: 10px;
                                    margin-top: 15px;
                                    position: absolute;
                                    right: auto;
                                    width: 8px;
                                    z-index: 1;
                                    border-radius: 50%;
        
                                }
                            }
                            
                        }
                        
                    }
                    
                }
            }
        }
        
    }
}